:root {
  --trans-duration: 0.3s;
  --footer-bg-color: #4e342e;
  --footer-text-color: #e4c59e;
}
.main-trans {
  transition: all var(--trans-duration) ease-in-out;
}
/* body {
  height: 5000px !important;
  background-color: teal;
} */
/* *SECTION - Footer */
footer,
.copy {
  background-color: #4e342e;
  color: #e4c59e;
  font-family: "Rubik", serif;
}
/* *REVIEW - foot-card-1  */
footer .foot-card-1 svg {
  cursor: pointer;
}
footer .foot-card-1 svg:hover {
  color: #e4c59e;
  transform: scale(1.15);
}
/* *REVIEW - foot-card-2 */

footer .foot-card-2 ul li {
  cursor: pointer;
}
footer .foot-card-2 ul li:hover {
  transform: scale(1.07) translateX(10px);
  color: var(--footer-text-color);
}
footer .foot-card-2 ul h3 {
  color: var(--footer-text-color);
}


/* *SECTION - second-row */

.copy hr {
  border-width: 2px;
  border-color: var(--footer-text-color);
  opacity: 0.3;
}
.copy p {
  color: var(--footer-text-color);
  opacity: 0.9;
}
